/*CSS*/
body{
  background-image: url('fondo.png');
  background-size: cover;
  background-attachment: center;
  font-family: Comfortaa;
  margin: 0;
  color: #333;
}


header {
  background-color: rgba(233, 251, 255, 0.85);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  border-bottom: 3px solid #9cd3c8;
}

header img {
  width: 60px;
  height: 60px;
}

header h1 {
  color: #009688;
  font-size: 26px;
  font-weight: bold;
}

nav a {
  text-decoration: none;
  color: #00695c;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  color: #26a69a;
}


video{
  width: 250px;
  height: auto;
  border-radius: 15px;
  margin-right: 20px;
}

.contenedor {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 30px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

.contenedor img {
  width: 250px;
  height: auto;
  border-radius: 15px;
  margin-right: 20px;
}

.contenedor p {
  text-align: center;
  line-height: 1.6;
}


.productos {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 20px;
  padding: 20px;
}

.producto {
  background-color: rgba(255,255,255,0.9);
  width: 250px;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.producto img {
  display: center;
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.comprar {
  display: inline-block;
  background-color: #009688;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: bold;
  margin-top: 10px;
}

.comprar:hover {
  background-color: #00796b;
}

h2 {
  color: #009688;
}


footer {
  background-color: rgba(255,255,255,0.85);
  text-align: center;
  padding: 15px;
  border-top: 3px solid #9cd3c8;
  font-size: 14px;
  color: #333;
}
